
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.products-u7j {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .header-nhK {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.1rem 9.812rem 1rem 9.9rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('REPLACE_IMAGE:1:1028');
    width: 100%;
    height: 10.8rem;

    .group-613-4eq {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      .black-1-DGq {
        width: 21.4rem;
        height: 8.7rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .auto-group-gdkb-9RP {
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.65rem 0rem 2.8rem 21.6rem;
        height: 100%;
        display: flex;

        .frame-65-Tws {
          flex-shrink: 0;
          margin: 1.05rem 9.434rem 0.6rem 0rem;
          height: calc(100% - 1.65rem);
          display: flex;
          align-items: center;

          .link-home-aFo {
            margin-right: 5.2rem;
            display: flex;
            font-size: 1.6rem;
            font-weight: 500;
            letter-spacing: 0.27rem;
            text-transform: uppercase;
            line-height: 0.875;
            color: #292f36;
            font-family: Jost, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .group-597-T4h {
            margin-right: 5.2rem;
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .link-shop-bRo {
              letter-spacing: 0.27rem;
              text-transform: uppercase;
              color: #115b75;
              margin-right: 0.4rem;
              display: flex;
              font-size: 1.4rem;
              font-weight: 700;
              line-height: 1.1428571429;
              font-family: Jost, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .vector-WHs {
              flex-shrink: 0;
              margin-top: 0.114rem;
              width: 0.95rem;
              height: 0.6rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .link-blog-qb3 {
            line-height: 1;
            color: #292f36;
            flex-shrink: 0;
            display: flex;
            font-weight: 500;
            letter-spacing: 0.27rem;
            text-transform: uppercase;
            font-family: Jost, 'Source Sans Pro';
            white-space: nowrap;
            margin-right: 5rem;
            font-size: 1.4rem;
          }
          .link-about-kxu {
            font-weight: 500;
            line-height: 1;
            letter-spacing: 0.27rem;
            color: #292f36;
            margin-right: 3.3041rem;
            display: flex;
            font-size: 1.4rem;
            text-transform: uppercase;
            font-family: Jost, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .link-contact-5VP {
            flex-shrink: 0;
            font-weight: 500;
            line-height: 1;
            letter-spacing: 0.27rem;
            text-transform: uppercase;
            color: #292f36;
            margin-bottom: 0.114rem;
            display: flex;
            font-size: 1.4rem;
            font-family: Jost, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .bb29d6771ee2f2a1435d9searchsvg-bCq {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.25rem 2rem 0rem 0rem;
          width: 3rem;
          height: 3rem;
        }
        .button-open-empty-cart-Vp1 {
          width: 3.6rem;
          height: 3.15rem;
          position: relative;
          flex-shrink: 0;
          margin: 0rem 2rem 0.1rem 0rem;

          .bb2e1e4a7e50a9a34802bbag-2svg-DV7 {
            position: absolute;
            left: 0;
            top: 0.15rem;
            object-fit: contain;
            vertical-align: top;
            width: 3rem;
            height: 3rem;
          }
          .divw-commerce-commercecartopenlinkcount-wAD {
            width: 1.8rem;
            top: 0;
            align-items: center;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.2857142857;
            color: #ffffff;
            font-family: Jost, 'Source Sans Pro';
            background-color: #ef4444;
            border-radius: 0.9rem;
            position: absolute;
            left: 1.8rem;
            justify-content: center;
            height: 1.8rem;
            display: flex;
            white-space: nowrap;
          }
        }
        .link-ZxH {
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 0.222rem;
          width: 3rem;
          height: 3rem;
          object-fit: contain;
        }
      }
    }
  }
  .auto-group-wbps-gn1 {
    box-sizing: border-box;
    padding: 7.95rem 52.1rem 6.9rem 52rem;
    width: 100%;
    height: 22rem;
    background-color: #097493;
    border-radius: 0 0 0 8rem;
    flex-shrink: 0;

    .group-616-p7X {
      flex-direction: column;
      width: 100%;
      height: 100%;
      align-items: center;
      display: flex;

      .link-blog-yFK {
        letter-spacing: 0.27rem;
        flex-shrink: 0;
        display: flex;
        font-weight: 700;
        line-height: 0.2916666667;
        text-transform: uppercase;
        color: #f1a95d;
        font-family: Playfair Display, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 3.65rem;
        font-size: 4.8rem;
      }
      .frame-67-653 {
        display: flex;
        column-gap: 2.4rem;
        align-items: flex-start;
        flex-shrink: 0;
        margin: 0rem 6.3rem 0rem 6.4rem;
        width: calc(100% - 12.7rem);
        height: 2.1rem;

        .group-614-bXb {
          height: 100%;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .link-home-ZUR {
            font-weight: 400;
            line-height: 1.4285714286;
            color: #ffffff;
            font-family: Jost, 'Source Sans Pro';
            font-size: 1.4rem;
            display: flex;
            text-transform: uppercase;
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 0.2rem;
          }
          .d61dd95208ba1f02c4656chevron20rightsvg-szu {
            width: 2.1rem;
            height: 2.1rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .group-615-CnH {
          flex-shrink: 0;
          height: 100%;
          display: flex;
          align-items: flex-start;

          .products-Z73 {
            display: flex;
            font-size: 1.4rem;
            color: #ffffff;
            font-family: Jost, 'Source Sans Pro';
            white-space: nowrap;
            margin-right: 0.5rem;
            font-weight: 400;
            line-height: 1.4285714286;
            text-transform: uppercase;
            flex-shrink: 0;
          }
          .d61dd95208ba1f02c4656chevron20rightsvg-gSZ {
            width: 2.1rem;
            height: 2.1rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .bedroom-oXB {
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-weight: 400;
          color: #ffffff;
          font-size: 1.4rem;
          line-height: 1.4285714286;
          text-transform: uppercase;
        }
      }
    }
  }
  .auto-group-rcb7-WAh {
    box-sizing: border-box;
    padding: 9.875rem 14.4rem 9rem 14.5rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-ax3f-dm7 {
      align-items: flex-start;
      flex-shrink: 0;
      margin-bottom: 8.075rem;
      width: 100%;
      display: flex;

      .list-listitem-link-62d64567958cf05f6e27747cproduct-bed-1jpg-agM {
        position: relative;
        background-size: 118.211% 130.061%;
        border-radius: 0 9rem 0 0;
        width: 54.9rem;
        height: 57.1rem;
        background-image: url('REPLACE_IMAGE:5d013e2e41114b167db30de251394f37776be9e6');
        flex-shrink: 0;
        margin: 0.55rem 10.2rem 0rem 0rem;
        background-position: -4.7358rem -5.6049rem;
      }
      .auto-group-5bgh-1Wm {
        width: 50rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-mhdf-MqX {
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-bottom: 2.25rem;
          width: 100%;
          display: flex;

          .heading-1-nook-occasional-chair-741 {
            font-size: 5rem;
            font-weight: 600;
            font-family: Playfair Display, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.875rem;
            display: flex;
            line-height: 1.25;
            color: #292f36;
          }
          .auto-group-3tu7-cmT {
            margin: 0rem 24.145rem 1.6rem 0rem;
            width: calc(100% - 24.145rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .usd-9WV {
              line-height: 1.5416666667;
              color: #f1aa5d;
              flex-shrink: 0;
              margin-right: 0.955rem;
              display: flex;
              font-size: 2.4rem;
              font-weight: 600;
              font-family: Jost, 'Source Sans Pro';
              white-space: nowrap;
            }
            .usd-sSV {
              font-size: 1.6rem;
              line-height: 1.6875;
              white-space: nowrap;
              font-family: Jost, 'Source Sans Pro';
              flex-shrink: 0;
              display: flex;
              font-weight: 500;
              text-decoration-line: line-through;
              color: #000000;
            }
          }
          .setting-the-bar-as-one-of-the-loudest-speakers-in-its-class-the-kilburn-is-a-compact-stout-hearted-hero-with-a-well-balanced-audio-which-boasts-a-clear-midrange-and-extended-highs-for-a-sound-npM {
            display: flex;
            font-size: 1.8rem;
            font-weight: 300;
            line-height: 1.5;
            color: #4b5563;
            font-family: Jost, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 49.4rem;
          }
        }
        .divproduct-measurments-wrapper-3VP {
          display: flex;
          flex-direction: column;
          border: solid 0.1rem #ededed;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-top: 3.1rem;
          width: 100%;
          row-gap: 1.8rem;

          .divflex-horizontal-B5o {
            width: calc(100% - 30.347rem);
            height: 2.7rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-right: 30.347rem;

            .divmeasurment-block-6yT {
              margin-right: 5.981rem;
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .weight-rhj {
                flex-shrink: 0;
                margin-right: 4.119rem;
                display: flex;
                font-weight: 400;
                line-height: 1.6875;
                font-size: 1.6rem;
                color: #000000;
                font-family: Jost, 'Source Sans Pro';
                white-space: nowrap;
              }
              .item--nrH {
                flex-shrink: 0;
                display: flex;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.6875;
                color: #000000;
                font-family: Jost, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
            .divmeasurment-value-uvu {
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .item-14-54h {
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 0.353rem;
                font-weight: 400;
                color: #000000;
                font-family: Jost, 'Source Sans Pro';
                display: flex;
                font-size: 1.6rem;
                line-height: 1.6875;
              }
              .kg-CQD {
                font-weight: 400;
                line-height: 1.6875;
                color: #000000;
                font-family: Jost, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
                font-size: 1.6rem;
              }
            }
          }
          .divflex-horizontal-8Hs {
            align-items: center;
            flex-shrink: 0;
            margin-right: 18.878rem;
            width: calc(100% - 18.878rem);
            height: 2.7rem;
            display: flex;

            .divmeasurment-block-GQ5 {
              margin-right: 5.981rem;
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .dimensions-28M {
                font-family: Jost, 'Source Sans Pro';
                white-space: nowrap;
                margin-right: 1.119rem;
                font-weight: 400;
                color: #000000;
                flex-shrink: 0;
                display: flex;
                font-size: 1.6rem;
                line-height: 1.6875;
              }
              .item--9im {
                font-weight: 400;
                line-height: 1.6875;
                color: #000000;
                font-family: Jost, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
                font-size: 1.6rem;
              }
            }
            .divmeasurment-value-68D {
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .item-26-1ky {
                display: flex;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.6875;
                color: #000000;
                font-family: Jost, 'Source Sans Pro';
                flex-shrink: 0;
                margin-right: 0.333rem;
                white-space: nowrap;
              }
              .cm-8qb {
                margin-right: 0.314rem;
                color: #000000;
                line-height: 1.6875;
                font-family: Jost, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
                font-size: 1.6rem;
                font-weight: 400;
              }
              .x-sYH {
                flex-shrink: 0;
                font-size: 1.6rem;
                white-space: nowrap;
                font-weight: 400;
                line-height: 1.6875;
                color: #000000;
                font-family: Jost, 'Source Sans Pro';
                margin-right: 0.373rem;
                display: flex;
              }
              .item-12-R41 {
                line-height: 1.6875;
                flex-shrink: 0;
                margin-right: 0.332rem;
                display: flex;
                font-size: 1.6rem;
                white-space: nowrap;
                font-weight: 400;
                color: #000000;
                font-family: Jost, 'Source Sans Pro';
              }
              .cm-9kh {
                display: flex;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.6875;
                color: #000000;
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 0.314rem;
                font-family: Jost, 'Source Sans Pro';
              }
              .x-hGR {
                line-height: 1.6875;
                flex-shrink: 0;
                margin-right: 0.373rem;
                display: flex;
                font-size: 1.6rem;
                font-weight: 400;
                color: #000000;
                font-family: Jost, 'Source Sans Pro';
                white-space: nowrap;
              }
              .item-60-3LH {
                font-family: Jost, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-weight: 400;
                display: flex;
                font-size: 1.6rem;
                line-height: 1.6875;
                color: #000000;
                margin-right: 0.383rem;
              }
              .cm-ab7 {
                display: flex;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.6875;
                color: #000000;
                font-family: Jost, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
          .divflex-horizontal-vus {
            height: 2.7rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-right: 28.9rem;
            width: calc(100% - 28.9rem);

            .divmeasurment-block-UAh {
              margin-right: 5.981rem;
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .made-in-dJV {
                display: flex;
                font-family: Jost, 'Source Sans Pro';
                flex-shrink: 0;
                margin-right: 3.419rem;
                font-weight: 400;
                line-height: 1.6875;
                color: #000000;
                white-space: nowrap;
                font-size: 1.6rem;
              }
              .item--y7T {
                display: flex;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.6875;
                color: #000000;
                font-family: Jost, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .bulgaria-i53 {
              display: flex;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.6875;
              color: #000000;
              font-family: Jost, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
        .auto-group-kzgm-37K {
          padding-top: 3rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;

          .auto-group-nzu3-asw {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 1.6rem 3.4rem 0rem;
            width: calc(100% - 1.6rem);
            height: 5.6rem;

            .form-input-K4q {
              height: 100%;
              border: solid 0.2rem #eeeeee;
              border-radius: 0.8rem;
              flex-shrink: 0;
              margin-right: 2.8rem;
              box-sizing: border-box;
              padding: 1.5rem 2.5rem 1.5rem 2.6rem;
              width: 6.1rem;

              .div-Rdf {
                height: 100%;
                display: flex;
                font-size: 1.8rem;
                line-height: 1.445;
                color: #292f36;
                font-family: Jost, 'Source Sans Pro';
                width: 100%;
                overflow: hidden;
                position: relative;
                font-weight: 500;
                white-space: nowrap;
              }
            }
            .form-input-Wv1 {
              display: flex;
              font-size: 1.6rem;
              align-items: center;
              justify-content: center;
              font-family: Jost, 'Source Sans Pro';
              width: 39.5rem;
              height: 100%;
              font-weight: 500;
              background-color: #292f36;
              flex-shrink: 0;
              line-height: 1.5;
              color: #ffffff;
              white-space: nowrap;
              border-radius: 0.8rem;
            }
          }
          .group-617-BmF {
            margin: 0rem 38.037rem 1.3rem 0rem;
            width: calc(100% - 38.037rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .sku--7Q1 {
              margin-right: 0.363rem;
              display: flex;
              line-height: 1.5;
              font-family: Jost, 'Source Sans Pro';
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 400;
              color: #000000;
              white-space: nowrap;
            }
            .sm1439722-SBP {
              display: flex;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #4b5563;
              font-family: Jost, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .group-618-ZWu {
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .categories--JUV {
              margin: 0rem 0.6rem 0.05rem 0rem;
              display: flex;
              line-height: 1.5;
              color: #000000;
              font-size: 1.6rem;
              font-weight: 400;
              font-family: Jost, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .list-listitem-link-furnitures-1do {
              display: flex;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              font-family: Jost, 'Source Sans Pro';
              margin: 0.05rem 0.5rem 0rem 0rem;
              color: #4b5563;
              white-space: nowrap;
              flex-shrink: 0;
            }
            .list-listitem-link-chair-7B3 {
              display: flex;
              font-family: Jost, 'Source Sans Pro';
              line-height: 1.5;
              color: #4b5563;
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.05rem;
              font-size: 1.6rem;
              font-weight: 400;
            }
          }
        }
      }
    }
    .group-619-1nD {
      flex-shrink: 0;
      margin: 0rem 16.6rem 0rem 16.5rem;
      box-sizing: border-box;
      padding-bottom: 4rem;
      width: calc(100% - 33.1rem);
      display: flex;
      flex-direction: column;

      .frame-61-8bw {
        align-items: flex-start;
        flex-shrink: 0;
        margin-bottom: 3.4rem;
        height: 4.8rem;
        display: flex;
        column-gap: 8rem;

        .tablist-tab-UQu {
          font-family: Playfair Display, 'Source Sans Pro';
          white-space: nowrap;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          height: 100%;
          display: flex;
          font-size: 3.2rem;
          color: #000000;
          font-weight: 600;
          line-height: 1.1875;
          flex-shrink: 0;
        }
        .tablist-tab-additional-information-aiq {
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-size: 3.2rem;
          font-weight: 600;
          line-height: 1.1875;
          color: rgba(102, 102, 102, 0.5);
          font-family: Playfair Display, 'Source Sans Pro';
        }
        .tablist-tab-catalogue-hoT {
          display: flex;
          font-size: 3.2rem;
          font-weight: 600;
          line-height: 1.1875;
          color: rgba(102, 102, 102, 0.5);
          font-family: Playfair Display, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .tabpanel-dBK {
        width: 100%;
        overflow: hidden;
        position: relative;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .p-n4D {
          flex-shrink: 0;
          margin-bottom: 3.8rem;
          width: 100%;
          row-gap: 3rem;
          display: flex;
          flex-direction: column;

          .strong-introducing-our-wooden-bookshelf-iiZ {
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4b5563;
            font-family: Jost, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 81rem;
            display: flex;

            .strong-introducing-our-wooden-bookshelf-iiZ-sub-0 {
            }
            .strong-introducing-our-wooden-bookshelf-iiZ-sub-1 {
              color: #4b5563;
              font-family: Jost, 'Source Sans Pro';
              font-size: 1.8rem;
              font-weight: 300;
              line-height: 1.6666666667;
            }
          }
          .constructed-from-high-quality-sustainable-wood-our-bookshelf-is-not-just-a-storage-solution-its-a-statement-piece-the-warm-natural-wood-tones-add-a-touch-of-warmth-to-any-room-creating-a-cozy-and-inviting-atmosphere-the-sturdy-design-ensures-durability-providing-a-reliable-home-for-your-favorite-books-decor-items-and-more-VWM {
            max-width: 79.5rem;
            display: flex;
            font-size: 1.8rem;
            font-weight: 300;
            line-height: 1.6666666667;
            color: #4b5563;
            font-family: Jost, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .with-a-thoughtfully-designed-layout-this-bookshelf-features-multiple-shelves-in-varying-sizes-allowing-you-to-organize-your-collection-with-ease-from-novels-to-decorative-accents-each-item-finds-its-place-on-these-meticulously-crafted-shelves-the-open-design-promotes-easy-access-to-your-belongings-making-it-a-practical-and-convenient-storage-solution-gqj {
            flex-shrink: 0;
            max-width: 81.1rem;
            display: flex;
            font-size: 1.8rem;
            font-weight: 300;
            line-height: 1.6666666667;
            color: #4b5563;
            font-family: Jost, 'Source Sans Pro';
          }
          .the-versatile-aesthetic-of-our-wooden-bookshelf-makes-it-a-perfect-fit-for-various-interior-styles-from-classic-to-modern-whether-placed-in-a-living-room-bedroom-home-office-or-study-it-effortlessly-complements-your-existing-furniture-and-enhances-the-overall-ambiance-of-the-space-nnH {
            max-width: 81.5rem;
            display: flex;
            font-size: 1.8rem;
            font-weight: 300;
            line-height: 1.6666666667;
            color: #4b5563;
            font-family: Jost, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .key-features-1-quality-craftsmanship-meticulously-constructed-from-high-quality-sustainable-wood-for-lasting-durability2-ample-storage-multiple-shelves-in-varying-sizes-provide-generous-space-for-books-decor-items-and-more3-versatile-design-timeless-aesthetic-that-seamlessly-integrates-with-various-interior-styles4-easy-access-open-design-ensures-convenient-access-to-your-belongings5-sturdy-and-reliable-robust-construction-guarantees-a-stable-and-secure-home-for-your-items-1uw {
            flex-shrink: 0;
            max-width: 82rem;
            display: flex;
            font-size: 1.8rem;
            font-weight: 300;
            line-height: 1.6666666667;
            color: #4b5563;
            font-family: Jost, 'Source Sans Pro';
          }
        }
        .list-MsK {
          overflow: hidden;
          position: relative;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-left: 2rem;
          width: 100%;

          .item-quality-craftsmanship-meticulously-constructed-from-high-quality-sustainable-wood-for-lasting-durability-K3T {
            line-height: 2.2222222222;
            color: #4b5563;
            font-family: Jost, 'Source Sans Pro';
            max-width: 80.2rem;
            display: flex;
            font-size: 1.8rem;
            font-weight: 300;
          }
        }
      }
    }
  }
  .frame-3-z9b {
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    position: relative;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
    padding-top: 5.9rem;
    display: flex;
    background-color: #0b5c74;

    .divcontainer-jcy {
      margin: 0rem 6.2rem 6.15rem 11.4rem;
      width: calc(100% - 17.6rem);
      height: 30.25rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-tqvt-3tZ {
        flex-shrink: 0;
        margin: 0rem 6.9rem 8.406rem 0rem;
        width: 34.6rem;

        .auto-group-zusd-adb {
          margin-bottom: 2.994rem;
          width: 100%;
          height: 16.95rem;
          position: relative;

          .we-are-the-leading-in-furniture-and-interior-design-world-izh {
            letter-spacing: 0.022rem;
            color: #ffffff;
            font-family: Jost, 'Source Sans Pro';
            left: 0.6rem;
            display: flex;
            font-size: 2.2rem;
            font-weight: 400;
            line-height: 1.5;
            width: 34rem;
            height: 6.6rem;
            position: absolute;
            top: 10.35rem;
          }
          .white-1-zxD {
            width: 25.5rem;
            height: 10.4rem;
            position: absolute;
            left: 0;
            top: 0;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .auto-group-efw5-vqs {
          margin-left: 0.6rem;
          display: flex;
          column-gap: 4rem;
          align-items: center;

          .link-6198cad54be059ae1efcb65bfacebook-iconsvg-4BP {
            flex-shrink: 0;
            width: 1rem;
            height: 1.9rem;
            object-fit: contain;
            vertical-align: top;
          }
          .link-6198cad61619b78575ec3366twitter-iconsvg-yp9 {
            vertical-align: top;
            flex-shrink: 0;
            width: 1.8rem;
            height: 1.5rem;
            object-fit: contain;
          }
          .link-6198cad5f63889197173af30linkedin-iconsvg-JbX {
            width: 1.6rem;
            height: 1.7rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .link-6198cad6919776715d6a83fainstagram-iconsvg-Rw3 {
            flex-shrink: 0;
            width: 1.7rem;
            height: 1.8rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
      }
      .auto-group-ujz9-kTX {
        margin: 3.8rem 12.464rem 0rem 0rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .heading-2-pages-HCZ {
          font-weight: 400;
          line-height: 1.5;
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0rem 2.25rem 0.036rem;
          display: flex;
          font-size: 2.5rem;
          letter-spacing: 0.022rem;
          color: #f1aa5d;
          font-family: DM Serif Display, 'Source Sans Pro';
        }
        .link-style-guide-xJh {
          flex-shrink: 0;
          display: flex;
          font-size: 2.2rem;
          line-height: 1.5;
          letter-spacing: 0.022rem;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 0rem 2.4rem 0.036rem;
          font-weight: 400;
          color: #ffffff;
        }
        .link-protected-3b3 {
          margin: 0rem 0rem 2.4rem 0.036rem;
          display: flex;
          font-weight: 400;
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
          font-size: 2.2rem;
          line-height: 1.5;
          letter-spacing: 0.022rem;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .link-licenses-vuj {
          margin-bottom: 2.4rem;
          font-size: 2.2rem;
          color: #ffffff;
          display: flex;
          font-weight: 400;
          line-height: 1.5;
          letter-spacing: 0.022rem;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .link-changelog-SdB {
          white-space: nowrap;
          margin-left: 0.036rem;
          font-weight: 400;
          letter-spacing: 0.022rem;
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
          flex-shrink: 0;
          display: flex;
          font-size: 2.2rem;
          line-height: 1.5;
        }
      }
      .auto-group-rzmb-A3P {
        margin: 3.75rem 11rem 0rem 0rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .heading-2-explore-5w3 {
          font-size: 2.5rem;
          color: #f1aa5d;
          font-family: DM Serif Display, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 2.2rem;
          display: flex;
          font-weight: 400;
          line-height: 1.5;
          letter-spacing: 0.022rem;
          white-space: nowrap;
        }
        .link-about-us-NQM {
          display: flex;
          font-size: 2.2rem;
          white-space: nowrap;
          margin-bottom: 2.4rem;
          line-height: 1.5;
          letter-spacing: 0.022rem;
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
          flex-shrink: 0;
          font-weight: 400;
        }
        .link-recent-blog-3mP {
          margin: 0rem 0rem 2.4rem 0.009rem;
          display: flex;
          font-size: 2.2rem;
          font-weight: 400;
          color: #ffffff;
          line-height: 1.5;
          letter-spacing: 0.022rem;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .link-pricing-plan-93j {
          letter-spacing: 0.022rem;
          flex-shrink: 0;
          margin: 0rem 0rem 2.4rem 0.009rem;
          display: flex;
          line-height: 1.5;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 2.2rem;
          font-weight: 400;
          color: #ffffff;
        }
        .link-our-projects-EL5 {
          font-weight: 400;
          letter-spacing: 0.022rem;
          color: #ffffff;
          display: flex;
          font-size: 2.2rem;
          line-height: 1.5;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .auto-group-5txm-jnd {
        margin: 3.7rem 0rem 2.6rem 0rem;
        width: 32.6rem;
        height: calc(100% - 6.3rem);
        flex-shrink: 0;

        .heading-2-contact-44D {
          margin-bottom: 2.2rem;
          display: flex;
          font-size: 2.5rem;
          line-height: 1.5;
          letter-spacing: 0.022rem;
          white-space: nowrap;
          font-weight: 400;
          color: #f1aa5d;
          font-family: DM Serif Display, 'Source Sans Pro';
        }
        .frame-66-a2Z {
          width: 100%;
          display: flex;
          flex-direction: column;

          .east-birchwood-ave-brooklyn-new-york-11201-usa-8Jy {
            max-width: 32.6rem;
            letter-spacing: 0.022rem;
            color: #ffffff;
            flex-shrink: 0;
            margin-bottom: 2.35rem;
            display: flex;
            font-size: 2.2rem;
            font-weight: 400;
            line-height: 1.5;
            font-family: Jost, 'Source Sans Pro';
          }
          .link-contactinternocom-czq {
            flex-shrink: 0;
            display: flex;
            font-size: 2.2rem;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: 0.022rem;
            color: #ffffff;
            font-family: Jost, 'Source Sans Pro';
            margin-bottom: 2.4rem;
            white-space: nowrap;
          }
          .link-123-456-7890-Xc1 {
            font-size: 2.2rem;
            font-weight: 400;
            line-height: 1.5;
            font-family: Jost, 'Source Sans Pro';
            flex-shrink: 0;
            display: flex;
            letter-spacing: 0.022rem;
            color: #ffffff;
            white-space: nowrap;
          }
        }
      }
    }
    .divcopyright-wrap-Siy {
      border: solid 0.1rem #e5e5e5;
      flex-shrink: 0;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 0.022rem;
      color: #ffffff;
      white-space: nowrap;
      box-sizing: border-box;
      height: 10.4rem;
      display: flex;
      justify-content: center;
      font-family: Jost, 'Source Sans Pro';
      background-color: #0b6883;
      width: 100%;
      align-items: center;
      font-size: 2.2rem;

      .divcopyright-wrap-Siy-sub-0 {
      }
      .divcopyright-wrap-Siy-sub-1 {
        font-size: 2.2rem;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.022rem;
        color: #f1aa5d;
        font-family: Jost, 'Source Sans Pro';
      }
    }
  }
}
